body {
    color: darkslateblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.background {
    background-color: gray;
    width: 950px;
    padding: 5px;
    margin-top: 3px;
}

.tag {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 25px;
    overflow: auto;
}

#hello {
    font-size: 150px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#tag-header {
    font-size: 60px;
}

#name {
    background-color: white;
    margin-top: 5%;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 95px;
    font-style: italic;
    color:black;
    height: 250px;
}

