body {
    color: darkslateblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.button {
    text-align: relative;

}
.background {
    background-color: gray;
    width: 950px;
    padding: 5px;
    margin-top: 3px;
}

.tag {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 25px;
    overflow: auto;
}

#hello {
    font-size: 150px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#tag-header {
    font-size: 60px;
}

.name {
    background-color: white;
    height: 230px;
    font-family:cursive;
    color:black;
    flex-direction: row;
}
#name {
    margin: auto;
    text-align: center;
    font-size: 95px;
}

#pronouns {
    font-size: 60px;
    margin-bottom: 5%;
}